 <!DOCTYPE html>

<html>

<head>
<link rel="stylesheet" href="/css/style.css">
</head>

<body> 
{{>header}}
<img src="/img/hkt.jpg">
<p>KHONG TIM THAY TRANG DAU</p>
{{errorMess}}
{{>footer}}
</body>

</html>